*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner{
    background-color: navy;
    width: 500px;
    margin: 5px;
    padding: 10px;

}

.item{
    background-color: coral;
    color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   text-align: center;
}


.igual{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-meio-maior{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr 1fr;

}

.grid-conteiner{
    display: grid;
    gap: 10px;
    grid-template-columns: 1f 2fr 3fr;
}
