p {
  padding: 5px;
  border-width: 5px;
  border-color: blueviolet;
  border-style: solid;
  border-radius: 10px;
}

p {
  border-width: 10px, 5px, 2px, 20px;
  border-color: green, red, blue, black;
  border-radius: 10px, 20px, 20px, 50px;
  border-style: outset;
}

p {
  border: 3px, rebeccapurple, solid;
  border-radius: 10px;
}
