*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.exemplos{
    border: 2px solid gray;
    padding: 10px;
    margin-bottom: 30px;
}

.caixa{
    background-color: rebeccapurple;
    color: aliceblue;
    padding: 30px;
    width: 250px;
    text-align: center;
    margin: auto;
    border: 2px solid palevioletred;
}

.display-none {
    display: none;
}
 
.visibility-hidden {
    visibility: hidden;
}
 
.opacity-zero {
    opacity: 0;
}