*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.card{
display: flex;
max-width: 500px;
width: 70vw;
margin: 5px;
padding: 5px;
background-color: navy;
color: antiquewhite;
}

.imagem{
    background-color: gray;
    padding: 20px;
    text-align: center;
    
}

.conteudo{
    flex: 1;
    background-color: cadetblue;
    padding: 10px;

}

.com-ajuste .conteudo{
    min-width:0 ;
}

.conteudo p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: black;
    padding: 10px;
}



