*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Conteiner principal */

.conteiner{

display: flex;
max-width: 500px;
margin: 5px;
padding: 10px;
background-color: navy;
}


/*Caixa publica dentro do container principal*/
.item{
background-color: coral;
color: white;
padding: 10px;
text-align: center;
margin: 5px;
}

.item1{
    order: 2;
}

.item2{
    order: 3;
}

.item3{
    order: 1;
}

.destaque{
    order: -1;
    background-color: crimson;


}