*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Conteiner principal */

.conteiner{

display: flex;
flex-wrap: wrap;
max-width: 300px;
margin: 5px;
padding: 10px;
background-color: navy;


}


/*Caixa publica dentro do container principal*/
.item{

background-color: coral;
color: white;
padding: 10px;
text-align: center;
width: 60px;
}

.shrink-0 .item{

    flex-shrink: 0;

}


.shrink-1 .item{
flex-shrink: 1;
}

.shrink-2 .item{
flex-shrink: 2;

}

.shrink-2 .destaque{
    flex-shrink: 2;
    background-color: crimson0;
}


