*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(135deg, #faf6f6, #2b2b2b);
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

.container{
    background: #1c1c1c;
    width: 450px;
    max-width: 95%;
    padding: 35px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 25px rgba(255, 208, 0, 0.3);
    border: 2px solid #ffd000;
}

h1{
    text-align: center;
}

img{
    margin: 100px;
    
}