li{
    background-color:blue;
    color: antiquewhite;
}

.block li{ 
    display: inline;
    width: 100px;
    margin: 5px;
}
.inline li{
    display: block;
    width: 100px;
    margin: 5px;
}
.inline-block li{
    display: inline-block;
    width: 100px;
    margin: 5px;
}

.none{
    display: none;
}