*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.conteiner{

display: flex;
gap: 5px;
padding: 10px;
background-color: navy;
}


/*Caixa publica dentro do container principal*/
.item{
flex: 1;
background-color: coral;
padding: 10px;
margin: 5px;
text-align: center;
}

.aviso{
    flex: 1;
    background-color: crimson;
    color: white;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

@media(max-width: 700px)
{
    .conteiner{
        flex-direction: column;
    }
    .item{
        background-color: green;
    }

    .aviso{
        background-color: chocolate;
        font-size: 10px;
    }

}