*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Conteiner principal */

.conteiner{

display: flex;
flex-wrap: wrap;
max-width: 300px;
margin: 5px;
padding: 10px;
background-color: navy;


}


/*Caixa publica dentro do container principal*/
.item{

background-color: coral;
color: white;
padding: 10px;
text-align: center;
width: 60px;
}

.grow-0{

flex-grow: 0;
}

.grow-1 .item{
flex-grow: 1;

}

.grow-2 .destaque{

    flex-grow: 2;
}



