*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.conteiner{
    justify-content: center;
    display: flex;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #a09a9a;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1{
    justify-content: center;

    color: black;
    font-family: 'Arial', sans-serif;
    border-radius: 10px;
    border: 3px solid black;
    display: flex;
    
}

img {
    margin: 0px;
    
    width: 500px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: rgb(83, 82, 82) 5px 5px 10px;
  
}

p{
    font-size: 18px;
    color: black;
    font-family: 'Arial', sans-serif;
}

.teto{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img{

}