p {
  background-color: blue;
}
p {
  margin: 90px;
}
p {
  margin-top: 50px;
  margin-right: 100px;
  margin-bottom: 10px;
  margin-left: 200px;
}
p {
  margin: 200px, 10px;
}

p {
  margin: 30px, 10px, 0 20px;
}
