*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.bloco {
    margin: 10px auto;
    width: 800px;
    padding: 10px;
    text-align: center;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #f0f0f0;
}
 
.bloco p {
    margin-top: 5px;
    font-size: 24px;
}


.animation{
    animation: aparecer 2s ease;
}





@keyframes aparecer{
    from{
        opacity: 0;
        transform: translateY(30px);
    }to{
        opacity: 1;
        transform: translateY(1);
    }
}


@keyframes mover{
    from{
        
        transform: translateX(0);
    }to{
        
        transform: translateX(30);
    }
}


@keyframes pulsar{
    0%{
        
        transform: scale(1);
    }50%{
        
        transform: scale(0.1);
    }
    100%{
        transform: scale(1);
    }
}



@keyframes girar{
    from{
        
        transform: rotate(0deg);
    }to{
        
        transform: rotate(350deg);
    }
}

.animation-name{
    animation: mover;
    animation-duration: 2s;
}


.animation-duration{
    animation: pulsar;
    animation-duration: 2s;
}

.animation-delay{
    animation: girar;
    animation-duration: 2s;
    animation-delay: 0.5;
}


.animation-interection{
    animation: pulsar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.animatioon-direction{
    animation-name: mover;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

.animation-timing{
    animation-name:mover;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;

}