*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bloco{
    margin-top: 10px auto;

    width: 800px;
    padding: 100px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: antiquewhite;
}

.bloco p{
    margin-top: 5px;
    font-size: 24px;
}

.largura{
    width: 100%;

}

.imagem{
    width: 300px;
}
