*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.conteiner{
    background-color: navy;
    width: 650px;
    margin: 5px;
    padding: 10px;

}

.item{
    background-color: coral;
    color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   text-align: center;
}

.grid{

    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 100px 100px 100px;
    gap: 10px;

}

.inline-grid{
    display: inline-grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 50px 50px;
    gap: 10px;
}


.gap-separado{

    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 50px 50px 50px;
    row-gap: 10px;
    column-gap: 20px;
}