.bg{
    background-color: aquamarine;
    background-image: url(/HTML/CSS/22-Background/pngtree-abstract-light-pink-and-purple-background-image_15685363.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    
}