*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



button:hover{
    background-color: blueviolet;
    color: aliceblue;
}

input:focus{
    border: 2px solid navy;
    border-radius: 5px;
    outline: none;
}

button:active{
    background-color: antiquewhite;
    color: black;
}

a:visited{
    color: coral;
}

input:checked{
    width: 20px;
    height: 20px;
}

input:disabled{
    background-color: rgb(50, 50, 50);
    color: white;
}

li:first-child {
    color: blueviolet;
}
li:last-child {
    color: red;
}
li:nth-child(2) {
    color: blue;
}
