body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
    background-color: rgb(37, 35, 35);
  color: rgb(204, 198, 198);
  text-align: center;
  margin: 30px;
  padding: 10px, 30px;
  width: 400px;
  box-sizing: border-box;
  box-shadow: 4px, 4px, 10px, rgba(165, 23, 23, 0.5);
  border-radius: 10px;
}

h1{
    color: rgb(130, 130, 153);
}

h2{
    color: red;
    margin-bottom: 5px;
}

.sobre_mim, .hobbies, .habilidades{
    margin-bottom: 30px;
}

p{
    margin-top: 0;
}

ul,ol{
    margin-top: 0;
    padding-left: 16px;
}
.imagem{
    width: 300px;
    height: 300px;
    margin: auto;
}

.imagem img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow:white 0px 0px 10px;
    margin-bottom: 40px;
    display: block;
}

.rodape{
    color: rgb(247, 247, 247);
    text-decoration: none;

}

.rodape a:hover{
    
    text-decoration: underline;
}
