*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner{
    border: 2px solid gray;
    padding: 10px;
    width: 1000px;
    height: 400px;

}

.bloco-esquerdo{
    float: left;
    margin-right: 20px;
    width: 200px;
    height: 120px;
    background-color: crimson;
    color: white;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 10px;
}
.bloco-direito{
    float: right;
    margin-right: 20px;
    width: 200px;
    height: 120px;
    background-color: rgb(3, 35, 221);
    color: white;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 10px;
}

.texto-final{
    clear: both;
    text-align: center;
    margin-top: 10px;
}

