*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.largura-total{
  background-color: rgb(190, 22, 22);
  color: white;
  padding: 20px;
}

.largura-metade{
  background-color: blanchedalmond;
  color: black;
  padding: 20px;
}

.altura-total{
  background-color: aqua;
  color: crimson;
  padding: 20px;
}

.altura-metade{
  background-color: blue;
  color: white;
  padding: 20px;
  
}

